* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.children {
  position: absolute;
  margin-left: 80px;
  margin-right: 80px;
  top: 0;
  left: 0;
  right: 0;
}

/* @media screen and (max-width: 916px) {
  .children {
    margin-left: 10px;
    margin-right: 10px;
  }
} */
