@import "./mediaqueries";
@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  display: grid;

  grid-template-columns: 60px 1fr;
}

.navbar {
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 1;
}

.mobile-navbar {
  display: none;
}

.hero {
  grid-row-start: 1;
  grid-row-end: 3;
  background: gray;
}

@include mobile {
  .grid-container {
    grid-template-rows: 60px 60px 1fr;
  }
  .navbar {
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-end: 1;
    background: pink;
  }
  .mobile-navbar {
    display: block;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: 3;
    // background: peru;
  }
  .hero {
    grid-row-start: 3;
    grid-row-end: end;
    grid-column-start: 1;
    grid-column-end: end;
  }
}
