@import "./_mixin";
@import "./variables";
@import "_responsiveness.scss";

.nav {
  @include fullNav(flex, column, 60px, 100vh, center, #181818);
  top: 0;
  position: fixed;
}

.navbar-container {
  @include fullNav(flex, column, 60px, 100vh, space-between, #181818);
  justify-content: space-between;
  position: fixed;
}

.logo {
  height: 55px;
}

.logoContainer {
  width: 60px;
  height: 60px;
  padding-top: 2px;
  padding-left: 2px;
  background: #070707;
}

.navmenu {
  @include fullNav(flex, column, 60px, 30%, space-between, #181818);
  display: block;
  list-style: none;
}

.linksmenu {
  @include fullNav(flex, column, 60px, 10%, space-between, #181818);
  display: block;
}

.nav-item {
  @include navItem(flex, 60px, 60px, pointer, center, center, white);
  border-radius: 50%;

  &__home {
    font-size: 1.5em;
  }

  &__about {
    font-size: 1.5em;
  }

  &__skills {
    font-size: 1.75em;
  }

  &__projects {
    font-size: 1.5em;
  }
}

.nav-item:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

.link-item {
  @include navItem(flex, 60px, 60px, pointer, center, center, white);
  border-radius: 50%;

  &__linkedin {
    font-size: 1.75em;
  }

  &__github {
    font-size: 1.75em;
  }
}

.link-item__linkedin:hover {
  color: #0a66c2;
  box-shadow: 0 0 5px #0a66c2;
  text-shadow: 0 0 5px #0a66c2;
}

.link-item__github:hover {
  color: #ffffff;
  box-shadow: 0 0 5px #ffffff;
  text-shadow: 0 0 5px #ffffff;
}

@include mobile {
  .nav {
    display: flex;
    z-index: 10;
    flex-direction: row;
  }
  .navbar-container {
    display: flex;
    flex-direction: row;
  }
  .navmenu {
    display: none;
  }
  .linksmenu {
    display: none;
  }
}
